<ion-header>
  <ion-toolbar>
  <ion-title>Ses Verdures</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="false">

    
      <ion-list>
        <ion-item *ngFor="let verdure of verduresList">
           <ion-grid>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    {{verdure.nom}}
                  </ion-card-title>
                  <ion-card-subtitle>
                    {{verdure.prix}}
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  {{verdure.ingredients}}
                </ion-card-content>
            </ion-card>
          </ion-grid> 

        </ion-item>
      </ion-list>

    
</ion-content>
