<ion-header>
  <ion-toolbar>
  <ion-title>LES Amuses Bouches</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="false">

    
      <ion-list>
        <ion-item *ngFor="let amuse of amusesList">
           <ion-grid>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    {{amuse.nom}}
                  </ion-card-title>
                  <ion-card-subtitle>
                    {{amuse.prix}}
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  {{amuse.ingredients}}
                </ion-card-content>
            </ion-card>
          </ion-grid> 

        </ion-item>
      </ion-list>

    
</ion-content>
