<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-title> DEJA CLIENT ? </ion-title>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="login()">Je ME CONNECTE</ion-button>
  <ion-button expand="block" color="light" (click)="goRegister()">JE CREE MON COMPTE</ion-button>

</ion-content>
