<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      PepeJoe
    </ion-title>
    <style>
      :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
    </style>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager="true" [options]="slidesOpts">

    <ion-slide>
      
        <h2>Votre pizza a meilleur goût à la maison</h2> 
        <p>Chez <b>PepeJoe</b>, nous sommes des experts en livraison. Donc, si vous avez faim , il vous suffit de passer votre commande en ligne avec nous</p>
        <ion-img src="./assets/Bercail.PNG"></ion-img>
      </ion-slide>

    <ion-slide>
      
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
      <ion-img src="./assets/2.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
     
      <h2>What is Ionic Appflow?</h2>
      <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>
  </ion-slides>
  
  
</ion-content>
<style>
  ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }
</style>
