<ion-header>
    <ion-toolbar>
        <ion-title>Ses pizzas</ion-title>
        
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content [fullscreen]="false">

        <ion-list>

            <ion-item *ngFor="let pizza of pizzasList">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            {{pizza.nom}}
                        </ion-card-title>
                        <ion-card-subtitle>
                            {{pizza.prix}}
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        {{pizza.ingredients}}
                    </ion-card-content>
                </ion-card>
            </ion-item>

        </ion-list>
    </ion-content>