<ion-header>
  <ion-toolbar>
    <ion-title>Les burgers</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="false">

    <ion-list>

        <ion-item *ngFor="let burger of burgersList">
          
            <ion-card>
             
              <ion-card-header>
                <ion-card-title>
                  {{burger.nom}}
                </ion-card-title>
                <ion-card-subtitle>
                  {{burger.prix}}
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{burger.ingredients}}
              </ion-card-content>
            </ion-card>
        </ion-item>

    </ion-list>
</ion-content>
