<ion-header>
  <ion-toolbar>
  <ion-title>Ses Coupons</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="false">
    <ion-grid fixed="true">
      <ion-row>
        <ion-col>
          <ion-img src="./assets/coupon1.PNG"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="./assets/coupon2.PNG"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-img src="./assets/coupon3.PNG"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="./assets/coupon4.PNG"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-img src="./assets/coupon5.PNG"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>