<ion-header>
  <ion-toolbar>
    <ion-title size="large" >Nos horaires</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Lundi</h2>
        <p>11:00 - 14:00</p>
        <p>18:00 - 23:00</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Mardi</h2>
        <p>11:00 - 14:00</p>
        <p>18:00 - 23:00</p></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Mercredi</h2>
        <p>11:00 - 14:00</p>
        <p>18:00 - 23:00</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Jeudi</h2>
        <p>11:00 - 14:00</p>
        <p>18:00 - 23:00</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Vendredi</h2>
        <p>11:00 - 14:00</p>
        <p>18:00 - 23:00</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Samedi</h2>
        <p>11:00 - 14:00</p>
        <p>18:00 - 23:00</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Dimanche</h2>
        <p>11:00 - 14:00</p>
        <p>18:00 - 23:00</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
