<ion-app>
  <ion-menu menuId="main-menu" content-id="main" >
    <ion-header class="menu-header">


      <ion-toolbar>
        <ion-title>Bienvenue !</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-buttons>
        <ion-button expand="block" shape="round" routerLink="compte">
          ME CONNECTER
        </ion-button>
      </ion-buttons>
      </ion-toolbar>
      
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="au-bercail">
            <ion-icon name="home" slot="start"></ion-icon>
           <ion-label> Au bercail </ion-label>
          </ion-item>
      </ion-menu-toggle>

        <ion-menu-toggle>
            <ion-item routerLink="nos-recettes">
              <ion-icon name="pizza" slot="start"></ion-icon>
             <ion-label> Nos recettes </ion-label>
            </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="demande-a-emporter">
            <ion-icon name="basket" slot="start"></ion-icon>
           <ion-label> Commander </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="compte">
            <ion-icon name="person" slot="start"></ion-icon>
           <ion-label> Mon Compte </ion-label>
          </ion-item>
      </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="nos-horaires">
            <ion-icon name="time" slot="start"></ion-icon>
            <ion-label> Nos horaires </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="modes-de-paiement">
            <ion-icon name="cash" slot="start"></ion-icon>
           <ion-label> Modes de paiement </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
           <ion-label onclick="window.location.href='https://www.facebook.com/pepejoebiarritz/';"> 
               
                Facebook
              
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="nous-contacter">
            <ion-icon name="call" slot="start"></ion-icon>
           <ion-label> Nous contacter </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>