ion-toolbar {
    --background: url(/assets/pepe.PNG) no-repeat center/cover fixed;
    weight: 80px;
    height:95px;
  }

.menu-header{
    height: 180px;
    width: 350px;
}

ion-title{
    front-size: 30px;
}