<ion-header>
  <ion-toolbar>
    <ion-title>Ses Desalterants</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="false">

    
      <ion-list>
        <ion-item *ngFor="let desalterant of desalterantsList">
            
            <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    {{desalterant.nom}}
                  </ion-card-title>
                  <ion-card-subtitle>
                    {{desalterant.volume}}
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  {{desalterant.prix}}
                </ion-card-content>
            </ion-card>

        </ion-item>
      </ion-list>

    
</ion-content>
