<ion-header>
  <ion-toolbar>
    <ion-title>Nos recettes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-list>
    
      <ion-item routerLink="/ses-pizzas">
        <ion-thumbnail slot="start">
          <ion-img src="./assets/pizza.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label> Ses Pizzas</ion-label>
      </ion-item>

    <ion-item routerLink="/ses-burgers">
      <ion-thumbnail slot="start">
        <ion-img src="./assets/burger.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label> Ses Burgers</ion-label>
    </ion-item>

    <ion-item routerLink="/ses-verdures">
      <ion-thumbnail slot="start">
        <ion-img src="./assets/salade.PNG"></ion-img>
      </ion-thumbnail>
      <ion-label> Ses Verdures</ion-label>
    </ion-item>

    <ion-item routerLink="/ses-amuses">
      <ion-thumbnail slot="start">
        <ion-img src="./assets/amuse.PNG"></ion-img>
      </ion-thumbnail>
      <ion-label> Ses Amuse Bouches</ion-label>
    </ion-item>

    <ion-item routerLink="/ses-gourmandises">
      <ion-thumbnail slot="start">
        <ion-img src="./assets/gourmandise.PNG"></ion-img>
      </ion-thumbnail>
      <ion-label> Ses Gourmandises</ion-label>
    </ion-item>

    <ion-item routerLink="/ses-desalterants">
      <ion-thumbnail slot="start">
        <ion-img src="./assets/Boisson.PNG"></ion-img>
      </ion-thumbnail>
      <ion-label> Ses Désaltérants</ion-label>
    </ion-item>

    <ion-item routerLink="/ses-menus">
      <ion-thumbnail slot="start">
        <ion-img src="./assets/menu.PNG"></ion-img>
      </ion-thumbnail>
      <ion-label> Ses Menus</ion-label>
    </ion-item>

    <ion-item routerLink="/ses-coupons">
      <ion-thumbnail slot="start">
        <ion-img src="./assets/coupons.PNG"></ion-img>
      </ion-thumbnail>
      <ion-label> Ses Coupons</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
