<ion-header>
  <ion-toolbar>
    <ion-title>Nous contacter</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>

  <h1> Pour Devenir Pépé Joe</h1>
  <h2>Contactez-Nous</h2>
  <p>05.59.52.47.56</p>
</ion-content>
