<ion-header>
  <ion-toolbar>
    <ion-title>Modes de paiement</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="./assets/cb.PNG">
      </ion-avatar>
      <ion-label>Cartes Bancaire</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/tr.PNG">
      </ion-avatar>
      <ion-label>
        Tickets restaurant
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="./assets/cash.PNG">
      </ion-avatar>
      <ion-label>
        Espèces
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
